<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <title>CSV Data</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Data from CSV</h1>
      <div class="form-group mt-3">
        <input
          type="text"
          class="form-control"
          id="searchInput"
          placeholder="Search..."
        />
      </div>

      <div class="table-responsive mt-3">
        <table class="table table-striped" id="dataTable">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Model</th>
              <th scope="col">Tahun</th>
              <th scope="col">Harga</th>
              <th scope="col">Transmisi</th>
              <th scope="col">Jarak Tempuh</th>
              <th scope="col">Bahan Bakar</th>
              <th scope="col">Pajak</th>
              <th scope="col">MPG</th>
              <th scope="col">Ukuran Mesin</th>
            </tr>
          </thead>
          <tbody>
            <!-- Data will be inserted here -->
          </tbody>
        </table>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script>
      $(document).ready(function () {
        $.ajax({
          type: "GET",
          url: "../mmm.csv",
          dataType: "text",
          success: function (data) {
            var lines = data.split("\n");
            var tbody = $("#dataTable tbody");
            for (var i = 1; i < lines.length; i++) {
              var line = lines[i].split(",");
              var row = $("<tr>");
              for (var j = 0; j < line.length; j++) {
                row.append($("<td>").text(line[j]));
              }
              tbody.append(row);
            }
          },
        });

        $("#searchInput").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#dataTable tbody tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });
    </script>
  </body>
</html>
